<h2>Hello <%=p1%> and <%=p2%>!</h2>
<p><%=p1%>, please enter a word for <%=p2%> to guess.</p>
<p>Use only capital and lowercase letters in your selection. No numbers, spaces, or symbols please.</p>

<form action='game_prep' method='post'>
	<input type='password' name='guess_word' required>
	<input type='submit' value="Let's Play some Hangman!">
</form>