<h3>The word you choose contained something other than letters. Please choose a new word.</h3>

<form action='game_prep' method='post'>
	<input type='password' name='guess_word' required>
	<input type='submit' value="Let's Begin!">
</form>