<html>

<h1> Welcome to Hangman!</h1>
<h2> Select the difficulty on which you wish to play.</h2> 
	<form action='/select_a_word' method='post'>
		<select name= 'word'>
			<option value='Easy'>Easy</option>
			<option value='Medium'>Medium</option>
			<option value='Hard'>Hard</option>
			<option value='Extra Hard'>Extra Hard</option>
		</select>
			<input type="submit" value="Submit">
	
	</form>

</html>

<!-- I want to have the number of letters in the word be based on the difficulty chosen. (i.e. 3 to 6 letters is extra hard, 7 to 10 is hard, 11 to 15 is medium and 16 to 20 is easy) -->


<!-- Create a file with 25 words per difficulty. -->


<!-- Create tests (4 tests per each) to confirm that the following work: 

	-recognition of number of letters per difficulty
	-correct # of spaces given for a chosen word
	-recognition of chosen words
	-correct/incorrect letters guessed for chosen word
	-correctly removing letters from letter bank and acknowledging already used letters as invalid selections
	-correctly implementing correct letters into the chosen word
	-recognizing the use of and acknowledging incorrect letters as invalid
	-removing correct and incorrect letters from the letter bank
	-descending counter showing # of turns remaining
	-existence of a letter bank
	-game won/game lost -->





<!-- Steps for moving forward:
	
	1) Choose 10 words per difficulty
	2) Create tests and required corresponding code
	3) Run tests and make sure they work
	4) Create remaining '.erb' files to make web app
	5) Make sure web app runs correctly
	6) Deploy to Heroku if working (OPTIONAL) -->