<h1> Welcome to Hangman!</h1>
<h2> Please enter your name here.</h2>
	
	<form action='/players' method='post'>
			<input type='text' name='player1_name_input' value='Player 1'>
			<input type='text' name='player2_name_input' value='Player 2'>
			<input type="submit" value="Submit">
	</form>